.about__user {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.about__user img {
  width: 14rem;
  border-radius: 50rem;
  box-shadow: 8px 5px 10px var(--lighter);
  transition: transform 1.4s ease-in;
}

.about__user img:hover {
  transform: scale(1.05) rotate(360deg);
}

.about__name {
  box-shadow: 0 0 2rem var(--light);
  padding: 0.8rem;
  border-radius: 10rem;
  font-size: 2rem;
  background-color: var(--lighter);
}

.about__tags {
  margin: 0;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  padding-left: 0;
  flex-wrap: wrap;
}

.about__tags li {
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: var(--primary-200);
  border-radius: 0.5rem;
  text-align: center;
  align-self: center;
  font-size: 1.2rem;
}
