.btn {
  margin-top: 3rem;
  text-align: center;
  transition: transform 0.4s ease;
}

.btn:hover {
  transform: scale(1.2);
}

.btn a {
  padding: 1rem;
  font-size: 1.3rem;
  background-color: var(--light);
  border-radius: 100rem;
  text-decoration: none;
  color: var(--dark);
}

.btn:hover a {
  background-color: var(--primary);
  color: var(--light);
}
