.quizcard {
  position: relative;
  margin: 1.6rem 0;
  display: flex;
  flex-direction: column;
  background-color: var(--light);
  padding: 1rem;
  padding-top: 0;
  border-radius: 1rem;
  align-items: center;
}

.quizcard__headline {
  margin-bottom: 0;
  align-self: flex-start;
}

.quizcard__bookmark {
  width: 3rem;
  position: absolute;
  right: 40px;
  top: -22px;
  transition: all 1s ease-in-out;
}

.quizcard__bookmark:hover {
  transform: scale(1.2) rotate(360deg);
}

.quizcard__question {
  font-weight: bold;
  text-align: center;
}

.quizcard__answer {
  margin-top: 0;
  font-weight: thin;
}

.quizcard__tags {
  margin: 0;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  padding-left: 0;
  flex-wrap: wrap;
}

.quizcard__tag {
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: var(--primary-200);
  border-radius: 0.5rem;
  text-align: center;
  align-self: center;
  font-size: 1.2rem;
}

.quizcard__tag:hover {
  background-color: var(--primary);
  color: var(--light);
  transform: scale(1.1);
}
